GOOGLE_CLOUD_PROJECT=project-fd286af4-b340-4967-86b
GOOGLE_CLOUD_LOCATION=us-central1
AGENT_MODEL=gemini-2.5-flash
MARKETING_GCS_BUCKET=smartshop-marketing
MAPS_API_KEY=
DRIVE_FOLDER_ID=
ORDER_DATA_AGENT=projects/project-fd286af4-b340-4967-86b/locations/global/dataAgents/smartshop-orders
