VITE_API_URL=https://ldg8utv23e.execute-api.ap-southeast-1.amazonaws.com
VITE_USER_POOL_ID=ap-southeast-1_odcKXxoOD
VITE_USER_POOL_CLIENT_ID=2902jam4h4kt7tuvtflh1gce1
VITE_USER_POOL_REGION=ap-southeast-1
